<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81584374169-fhsklo411fen8u97d6evlkh0agc38pp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81584374169-fhsklo411fen8u97d6evlkh0agc38pp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBZpP76k9zR36pLnS4xtv8ZnWr6TdR5ivw</string>
	<key>GCM_SENDER_ID</key>
	<string>81584374169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elim.app</string>
	<key>PROJECT_ID</key>
	<string>elim-b1fff</string>
	<key>STORAGE_BUCKET</key>
	<string>elim-b1fff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81584374169:ios:8e7970a9eff7bf9b389308</string>
</dict>
</plist>